.welcome-banner{
    background: linear-gradient(135deg, #28a745, #218838);
    color: hsl(0, 29%, 87%) !important; 
    border-left: 8px, solid #fff;
    transition: transform 0.3s ease;
}

.welcome-banner:hover{
    transform: translateY(-2px);
}