.featured-products-section{
    background: linear-gradient(to right, #a7cdbe89, #5fc363) !important;
    padding: 20px!important;
    display: flex !important;
}
.card-img-top{
    max-width: 100% !important;
    height: auto !important;
}
.card{
    width: 100% !important;
    height: 50% !important;
}
@media (max-width: 768px) {
    .card{
        width: 40% !important;
        margin: 10px auto !important;
    }

    .featured-products-section{
        padding: 10px !important;
    }
}
@media (max-width: 480px ){
    .card{
        width: 60% !important;
    }

    .featured-products-section{
        padding: 5px !important;
    }
}